      {% extends "base.html" %}
      {% block conteudo %}
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Sobre mim</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <!-- about -->
      <div class="about slin2">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>NOME</h2>
                     <p>Apresento a vocês NOME, uma mulher determinada a transformar vidas. Como dona de um salão de beleza, NOME tem um objetivo claro: ajudar as mulheres a se tornarem as melhores versões de si mesmas.

                        NOME é uma empreendedora apaixonada pelo seu trabalho. Seu salão não é apenas um local para cuidados estéticos, mas um ambiente acolhedor onde as mulheres se sentem empoderadas e confiantes. Ela acredita que a verdadeira beleza vem de dentro e busca ressaltar a autenticidade de cada mulher.
                        
                        Com sua abordagem única e atenção aos detalhes, NOME inspira suas clientes a abraçarem sua individualidade e a se sentirem belas em sua própria pele. Seu compromisso em transformar vidas vai além do salão, impactando positivamente a autoestima e a confiança das mulheres que cruzam seu caminho.</p>
                     <p style="color: purple">"O verdadeiro poder da beleza está em abraçar a diversidade, celebrar a autenticidade e lutar pelo empoderamento feminino."</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="static/images/about.PNG" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      {% endblock conteudo %}