      {% extends "base.html" %}
      {% block conteudo %}
      <!-- banner -->
      <section class="banner_main">
         <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption relative">
                        <div class="row d_flex">
                           <div class="col-md-6">
                              <img class="bann_img" src="static/images/banner_ing.png" alt="#"/>
                           </div>
                           <div class="col-md-6">
                              <h1>Espaço de Beleza</h1>
                              <a class="get_btn" href="{{url_for('sobre')}}" role="button">Saber mais</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption relative">
                        <div class="row d_flex">
                           <div class="col-md-6">
                              <img class="bann_img" src="static/images/equipe.PNG" alt="#"/>
                           </div>
                           <div class="col-md-6">
                              <h1>Nossa equipe</h1>
                              <p>Contamos com uma equipe totalmente preparada e especilizada</p>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- what we do  -->
      <div class="we_do slin">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Nossos serviços </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-10 offset-lg-1 col-md-12">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="static/images/weicon1.png" height="120" width="120" alt="#"/></i>
                           <h3>Alisamento perfeito e Mechas personalizadas</h3>
                           <p> </p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="static/images/weicon2.png" height="120" width="120" alt="#"/></i>
                           <h3>Cuidados faciais</h3>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="static/images/weicon3.png" height="120" width="120" alt="#"/></i>
                           <h3>Os melhores tratamentos capilares</h3>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="static/images/weicon4.png" height="120" width="120" alt="#"/></i>
                           <h3>Design de sobrancelhas e alogamento de cilios</h3>
                           <p></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end what we do  -->
      <!-- about -->
      <div class="about slin2">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>Sobre nós</h2>
                     <p>No nosso salão de cabelo, acreditamos que a verdadeira beleza se encontra na diversidade e na liberdade de expressão. Celebramos o feminismo como uma força impulsionadora que nos encoraja a abraçar nossos cabelos como símbolos de autenticidade, empoderamento e resistência, criando um espaço onde todas as mulheres se sentem livres para serem lindamente elas mesmas.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="static/images/about.PNG" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- our pricing -->
      <div  class="pricing slin">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Promoções</h2>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);">70,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Corte e Escova</span>
                        <p>"Cabelo, autoexpressão e feminismo andam de mãos dadas, pois ambos nos capacitam a desafiar as normas e a afirmar nossa identidade única."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Corte%20e%20Escova.">Saiba mais</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);"> 50,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Extensão de cilios</span>
                        <p>"No olhar feminista, descobrimos uma beleza que vai além das aparências, encontrando a essência, a coragem e a resiliência das mulheres."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Extensão%20de%20Cílios.">Saiba mais</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);"> 200,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Dia de Princesa</span>
                        <p>"A esperança é como o sol. Se você apenas acredita quando vê, você nunca vai sobreviver à noite."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Dia%20de%20Princesa.">Saiba mais</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end our pricing -->
      <!-- experts -->
      <div  class="experts slin2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Nossos trabalhos</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-8 offset-lg-2 col-md-12">
                  <div class="row">
                     <div class="col-md-4">
                        <div id="exp" class="experts_box">
                           <div class="experts_img">
                              <figure><img src="static/images/blog1.PNG" alt="#"/></figure>
                           </div>
                           <div class="meet">
                              <h3>Ruivo</h3>
                              <p>“Nunca é demais dizer: mude seu cabelo, mude sua vida.” </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div id="exp" class="experts_box">
                           <div class="experts_img">
                              <figure><img src="static/images/blog2.PNG" alt="#"/></figure>
                           </div>
                           <div class="meet">
                              <h3>Ondulado</h3>
                              <p>“Quando eu cortei meu cabelo, todo o som mudou, meu estilo mudou.”</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div id="exp" class="experts_box">
                           <div class="experts_img">
                              <figure><img src="static/images/blog3.PNG" alt="#"/></figure>
                           </div>
                           <div class="meet">
                              <h3>Curto</h3>
                              <p>“Meu cabelo é curto, mas minha autoestima é gigante!”</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <a class="read_more mar_top exper" href="{{ url_for('mural') }}"> Saber mais</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end experts -->
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Fale com a gente</h2>
                  </div>
               </div>
            </div>
            <div>
               <ul class="social_icon_2">
                  <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <form id="request" class="main_form" action="{{url_for('homepage')}}" method="POST">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Nome" type="type" name="nome"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email " type="type" name="email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Numero de celular" type="type" name="numero">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Mensagem" type="type" Message="Name" name="mensagem"></textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Enviar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29257.442772642535!2d-46.709042529087895!3d-23.56196545510568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5798cb16268f%3A0xa94014a3e39a3708!2sPinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1687454729881!5m2!1spt-BR!2sbr" width="600" height="386" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      {% endblock conteudo %}