    {% extends "base.html" %}
    {% block conteudo %}
       <!-- banner -->
       <div class="back_re">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="title">
                    <h2>Nosso Mural</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>
    <div  class="experts slin2">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>Seja você tambem uma das nossas modelos.</h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-lg-8 offset-lg-2 col-md-12">
                 <div class="row">
                    <div class="col-md-4">
                       <div id="exp" class="experts_box">
                          <div class="experts_img">
                             <figure><img src="static/images/blog1.PNG" alt="#"/></figure>
                          </div>
                          <div class="meet">
                             <h3>Ruivo</h3>
                             <p>“Nunca é demais dizer: mude seu cabelo, mude sua vida.” </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div id="exp" class="experts_box">
                          <div class="experts_img">
                             <figure><img src="static/images/blog2.PNG" alt="#"/></figure>
                          </div>
                          <div class="meet">
                             <h3>Ondulado</h3>
                             <p>“Quando eu cortei meu cabelo, todo o som mudou, meu estilo mudou.”</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div id="exp" class="experts_box">
                          <div class="experts_img">
                             <figure><img src="static/images/blog3.PNG" alt="#"/></figure>
                          </div>
                          <div class="meet">
                             <h3>Curto</h3>
                             <p>“Meu cabelo é curto, mas minha autoestima é gigante!”</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-12">
                       <a class="read_more mar_top exper" href="https://www.instagram.com/NOMENOME_espacodebeleza/?hl=pt-br"> Saber mais</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    {% endblock conteudo %}