   {% extends "base.html" %}
   {% block conteudo %}
   <!-- banner -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Promoções do mês</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- our pricing -->
      <div  class="pricing slin">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);">70,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Corte e Escova</span>
                        <p>"Cabelo, autoexpressão e feminismo andam de mãos dadas, pois ambos nos capacitam a desafiar as normas e a afirmar nossa identidade única."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Corte%20e%20Escova.">Saiba mais</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);"> 50,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Extensão de cilios</span>
                        <p>"No olhar feminista, descobrimos uma beleza que vai além das aparências, encontrando a essência, a coragem e a resiliência das mulheres."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Extensão%20de%20Cílios.

                  ">Saiba mais</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3 style="color: rgb(170, 15, 67);"> 200,00 </h3>
                     </div>
                     <div class="our_pricing">
                        <span>Dia de Princesa</span>
                        <p>"A esperança é como o sol. Se você apenas acredita quando vê, você nunca vai sobreviver à noite."</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="https://api.whatsapp.com/send?phone=5511948447084&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20promoção%20Dia%20de%20Princesa.">Saiba mais</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end our pricing -->
     
      {% endblock conteudo %}